// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '/css/libs/blog-post.css';
@import '/css/libs/bootstrap.css';
//@import 'css/libs/font-awesome.css';
@import '/css/libs/metisMenu.css';
@import '/css/libs/sb-admin-2.css';

#admin-page {

  padding-top:0px;


}


#nested-comment{

  margin-top:60px;


}

.comment-reply {

  display: none;


}
